.paragraph {
    background-color: blue;
    color: white;
}

#apple {
    font-size: 34px;
    font-weight: bold;
}


.banner {
    width: 100px;
    height: 100px;
    padding: 100px;
    border: 10px;
    margin: 10px;
}
.banner__span {
    color: red;
    background-color: gold;
}
.banner__img{ 
    color: red;
    background-color: gold;
}
.banner__input {
    color: red;
    background-color:gold;
}
.banner__btn-disabled {
    color: red;
    background-color: gold;
}
#unique {
    width: 500px;
    height: auto;
    padding: 30px;
    border: 10px dotted green;
    margin: 50px;

    background-color: blue;
    color: white;
}



